body {background: gray

}

h1 {
	font-family: "Garamond", serif;
    font-size: 100px;
}

p {
	font-family: "Helvetica Neue", Arial, sans-serif; 	
	font-size: 20px;
	line-height: 1.4em;
	letter-spacing: .05em;
	/*text-transform: uppercase; */
}
#Virgo:hover{
	color: red;

}
.color: {
	color: red;
}

